body{
    background:linear-gradient(rgb(163, 163, 163), rgb(255, 255, 255));
}

body p {
    color: rgb(157, 255, 0);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

#rayo {
    height: 300px;
}

.dark-mode {
    background: linear-gradient(rgb(44, 44, 44),black);
    color: rgb(148, 148, 148);
}

.dark-mode p {
    color: aqua
}

#logo {
    width: 100px;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    margin-left: 25px;
}

h1 {
    text-align: center;
}